@import "bourbon";
@import "neat";
@import "libs/reset";
@import "libs/ie";

/*

font-face("source-sans-pro", "/font/source-sans-pro/source-sans-pro-regular");

*/

$max-width:90%;

$tablet: new-breakpoint(max-width 768px 6);
$mobile: new-breakpoint(max-width 480px 4);


/*
=================================================

									MIXINS

=================================================
*/

@mixin jtContainer
{
	@include outer-container;
	width:$max-width;
	max-width:1280px;
	position:relative;
}


/*
=================================================

									TYPOGRAPHY

=================================================
*/

	$headlineSize : 42px;
		$headlineSizeLH : 44px;

	$subheadlineSize : 32px;
		$subheadlineSizeLH : 34px;

	$midSize : 24px;
		$midSizeLH : 26px;

	$bodySize : 15px;
		$bodySizeLH : 18px;

	$metaSize : 13px;
		$metaSizeLH : 15px;


	@mixin headlineFont()
	{
		font-family: "aktiv-grotesk",sans-serif;
		font-style: normal;
		font-weight: 700;
		font-smoothing:antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	@mixin bodyFont()
	{
		font-family: "aktiv-grotesk",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-smoothing:antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	$black : lighten(#000000,15);



/*
=================================================

									GENERAL STYLES

=================================================
*/

	html, body {
		@include bodyFont();
		font-size:$bodySize;
		line-height:$bodySizeLH;
		color:$black;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight:normal;
	}
	h1 {
		@include headlineFont();
		font-size:$headlineSize;
		line-height:$headlineSizeLH;
	}
	h2 {
		@include headlineFont();
		font-size:$subheadlineSize;
		line-height:$subheadlineSizeLH;
	}
	h3 {
		@include headlineFont();
		font-size:$midSize;
		line-height:$midSizeLH;
	}

	.left-align {
		text-align:left;
	}
	.centre-align {
		text-align:center;
	}
	.right-align {
		text-align:right;
	}

	a {
		text-decoration:none;
		opacity:1;
		@include transition(opacity .2s);

		&:hover {
			opacity:0.6;
		}
	}

	img {
		max-width:100%;
		height:auto;
	}

	.clearfix {
		@include clearfix;
	}
	.container {
		@include jtContainer;
	}



/*
======================================

	EXTEND STYLES

======================================
*/

	.vertical-align-middle {
		position:absolute;
		top:50%;
	}

	#audioCanvas {
		position:fixed;
	    width: 100%;
	    height: 100%;
	    @include transition(transform .3s ease-in-out);
	}

	.info_toggle {
		position:absolute;
		top:20px;
		left:20px;
		color:white;
		border-radius:100%;
		border:3px solid white;
		width:24px;
		height:24px;
		text-align:center;
		z-index:5000;

		&:before, &:after {
			content:"";
			position:absolute;
			width:3px;
			left:50%;
			@include transform(translateX(-50%));
			background-color:white;
			@include transition(all .4s);
		}

		&:before {
			height:3px;
			top:3px;
		}
		&:after {
			height:7px;
			top:8px;
		}

		&.close {
			&:before {
				@include transform(rotate(45deg) translateX(-2px) translateY(0px));
				height:15px;
			}
			&:after {
				@include transform(rotate(-45deg) translateX(0px) translateY(-2px));
				height:15px;
				top:3px;
			}
		}
	}

	#soundcloud {
		position:fixed;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.2);
		padding:20px;
		display:table;
		z-index:2000;
		@include transition(background-color .2s, transform .3s ease-in-out);

		.progress {
			position:absolute;
			left:0px;
			top:0px;
			height:3px;
			background-color:white;
			width:0px;
		}

		.top {
			padding-top:4px;
			position:relative;

			.about_toggle {
				color:white;
				position:absolute;
				left:34px;
			}
		}

		.middle {
			display:table-cell;
			vertical-align:middle;
			padding-bottom:20px;
			left:0px;
		}

		h2,h5 {
			font-size:90px;
			line-height:90px;
			color: white;
		    letter-spacing: -2px;
		    white-space: nowrap;
		    width: 92vw;
		    display: block;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    height: 98px;
		    opacity:0;
		    @include transform(translateX(-50px));
		    @include transition(all .7s ease-out);

		    &.artist {
		    	@include transition-delay(.1s);
		    }
		}

		h5 {
			font-size:$midSize;
			letter-spacing:0px;
			line-height:$midSizeLH;
			height:auto;
			margin-left:2px;
			display:none;
		}

		&.show {
			h2,h5 {
			    opacity:1;
			    @include transform(translateX(0px));
		    }
		}

		.bottom {
			position:absolute;
			bottom:20px;
			left:20px;
			width:98%;
			width:calc(100% - 40px);

			.input_wrap {
				width:50%;
				position:relative;
			}

			button {
				position: absolute;
				right: 0px;
				color: white;
				bottom:15px;
				background-color: transparent;
				border: none;
				@extend h3;
				cursor:pointer;
			}

			#soundcloud_url {
				border:none;
				background-color:transparent;
				border-bottom:3px solid white;
				display:block;
				color:white;
				padding:10px 0px;
			    padding-right: 60px;
				@extend h3;
				width:100%;
				line-height:30px;

				@include placeholder() {
					color:rgba(255,255,255,0.5);
				}
			}
		}
	}

	#about {
		background-color:rgba(255,255,255,0.98);
		position:fixed;
		display:table;
		width:400px;
		height:100%;
		z-index:10000;
		padding:20px;
		@include transform(translateX(-100%));
		@include transition(transform .3s ease-in-out);

		.top {
			position:absolute;
			top:0px;
			left:0px;
			padding:20px;

			a {
				color:$black;
			}
		}

		.middle {
			display:table-cell;
			vertical-align:middle;

			h2 {
				margin-bottom:$subheadlineSizeLH;
			}

			p {
				margin-bottom:$bodySizeLH;
				font-weight:300;
				line-height:21px;
				letter-spacing:1px;
				@include span-columns(9);

				a {
					color:inherit;
					text-decoration:underline;
				}
			}
		}

		.bottom {
			position:absolute;
			width:100%;
			bottom:0px;
			left:0px;
			padding:20px;
			display:none;
			background-color:rgba(0,0,0,0.2);

			h6 {
				margin-bottom:10px;
			}

			.image {
				width:20%;
				padding-bottom:20%;
				float:left;
				position:relative;

				img {
					width:100%;
					height:100%;
					position:absolute;
				}
			}
			.info {
				float:left;
				width:80%;
				padding-bottom:20%;
				position:relative;
				padding-left:10px;

				.cont {
					position:absolute;
					width:100%;
					height:100%;

					.artist {
						opacitY:0.5;
					}

					.links {
						position:absolute;
						bottom:0px;

						li {
							display:inline-block;
							margin-right:10px;

							a {
								font-weight:300;
								font-size:$metaSize;
								color:white;
							}
						}
					}
				}
			}
		}
	}

	.about-show {
		#about {
			@include transform(translateX(0px));
		}

		#soundcloud {
			@include transform(translateX(30px));
		}
		canvas {
			@include transform(translateX(60px));
		}
	}

	#download {
		position:fixed;
		right:20px;
		top:20px;
		z-index:2000;
	}








